@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
body{
    padding-top:63.13px ;
    margin:0;
    font-family: 'Open Sans', sans-serif;
    color:#111;
    line-height: 1.15;
}
#headline{
    text-align: center;
}

.product {
    text-align: center;
    padding: 0 80px;
}
.product .pro-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;

}
.product .pro{
    width: 20%;
    min-width: 300px;
    height:600px;
    padding:  10px 12px;
    border: 1px solid #686868;
    border-radius: 25px;
    cursor: pointer;
    margin: 15px 0;
    box-shadow: 20px 20px 30px rgb(0,0,0,0.15);
    transition: 0.2 ease;
    position: relative;
}
.product .pro:hover{
    box-shadow: 20px 20px 30px rgb(0,0,0,0.2);
}
.product .pro img {
    width: 100%;
    border-radius: 20px;
    height:400px;
}
.product .pro .des{
    padding: 20px 0;
}
.product .pro .des a.pro-cat {
    color: #b2b0b3;
    text-decoration: none;
    font-size: 15px;
    
}
.product .pro .des h5.pro-name{
    margin:5px 0;
    text-decoration: none;
    font-size: 20px;
    color: #111;

}
.product .pro .des .star{
    margin: 5px 0;
}
.product .pro .des .pro-price h4{
    padding-top:7px;
    font-size: 25px;
    font-weight: 600;
    color:rgb(121, 12, 12);
    margin: 5px auto;

}
.product .pro .des .pro-cart a {
    background-color: #e8f6ea;
    color: #088178;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    font-weight: 500;
    border: 1px solid #cce7d0;
    bottom: 60px;
    right: 20px;
    position: absolute;
        
}
.product .pro .des .pro-cart a:hover{
    color:tomato;
}
#headline h3{
    font-size: 18px;
    color: #111;
    border:1px solid #686868;
    padding: 20px 30px;
    display: inline-block;
    text-transform: uppercase;

}
#wrapper-2 {
    max-width: 1170px;
    margin: auto 0;
    
}
.container{
    max-width: 960px;
    margin: 0 auto; 
    opacity: 0.9;
}
#header{
    padding:0px 0;
    margin:0;
    box-shadow: 0 5px 15px rgba(0,0,0,0.04);
    position: fixed;
    z-index: 999;
    width: 100%;
    top:0;
    left:0;
    background: #DDDDDD;
}

#main-men ul { /* Safari */
    position:absolute;
    top: 10px;
  }
nav{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    position: static;
}
#logo{
    padding: 5px 0;
}
#logo img{
    max-width: 130px;
    height: auto;
    border-radius: 2px;;
}
#main-menu{
    display:flex;
    list-style: none;
    margin:0;
    padding:0;
}
#main-menu li{
    position: relative;
    padding: 0x 20px;
}
#main-menu li a{
    display: block;
    text-decoration: none;
    padding: 18px 20px;
    color: black;
    font-weight: 500;
}
#main-menu li a:hover{
    background-color:crimson;
    color:azure;
}
#main-menu ul.sub-menu{
    position: absolute;
    background-color: #cecccf;
    padding: 0;
    list-style: none;
    width:150px;
    border:1px solid rgb(189, 189, 189);
    display: none;

}
#main-menu ul.sub-menu a{
    padding: 8px 15px;
    border-bottom:1px solid rgb(189, 189, 189);
}
#main-menu ul.sub-menu li:last-child a{
    border: none;
}
#main-menu ul.sub-menu li:hover a{
    border-bottom:1px solid rgb(216, 215, 215);
}
#main-menu ul.sub-menu ul.sub-menu{
    bottom:-69px;
    left:150px; 
    list-style: none;
}
#main-menu li:hover>ul.sub-menu{
    display: block;
}
#main-menu >li>a{
    position: relative;
}
#main-menu >li>a::before{
    bottom: 0;
    left: 0;
    width: 0;
    position: absolute;
    content: "";
    height:5px;
    background-color: yellow;
    transition: 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}
#main-menu >li:hover>a::before{
    width:100%;
} 
#main-menu li>has-child::after{
    position: absolute;
    top:0;
    right:0;
    padding:10px 0;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    font: var(--fa-font-solid);
    content: "\f1ea";   
}
.feature a i{
    font-size: 20px;
    padding: 15px 20px;
    color:#000;
    transition: all 0.5 ease;
} 
.feature a i:hover{
    transform: scale(1.2);
    color :#000;
}
.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    background-color: 	#CCCCCC;
}
.footer col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
.footer img{
    padding-top: 12px;
}
.footer .contact a{
    text-decoration: none;
    color: #111;
}
.footer .contact a:hover{
    color:rgb(63, 63, 63);
}
.footer .about a{
    text-decoration: none;
    color: #111;
}
.footer .follow a i{
    color:rgb(216, 215, 215)
}
.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(./images/banner4.jpg);
    width: 100% ;
    height: 400px;
    margin-bottom: 20px;
}
.banner button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border:none;
    outline: none;
    transition: 0.25;
}
.banner h1{
    color: #e8f6ea;
    font-size: 50px;
    margin-bottom: 5px;
}
.banner h2{
    color: #e8f6ea;
    font-size: 30px;
}
.banner h2>span{
    color:yellow;
    font-size: 40px;
}
.icon-float2 a i{
    color:#33CCFF;
    font-size: 45px;
    right: 30px;
    bottom: 130px;
    position: fixed;
    display: inline-block;

}
.icon-float1 a i{
    font-size: 45px;
    right: 30px;
    bottom: 50px;
    position: fixed;
    display: inline-block;

}